/* Responsiveness */
/* @media(max-width:1850px){ */
    .header{
        padding: 15px 8%;
        transition: 0.2s;
    }
    section{
        padding: 0 8%;
        transition: .2s
    }  
/* } */
/* @media(max-width:1370px){
    .header{
        padding: 15px 8%;
        transition: 0.2s;
    }
    section{
        padding: 0 8%;
        transition: .2s
    }  
    :root{
        --big-font: 2.3rem;
        --p-font: 1rem;
        transition: 2s;

    }
    @media(max-width:1020px){
       .navbar{
        margin: 0 15px;
       }
        section{
            padding: 0 8%;
            transition: .2s
        }  
        :root{
            --big-font: 2.3rem;
            --p-font: 1rem;
            transition: 2s;
    
        }
}
}  */
@media(max-width:950px){
    section{
        padding:70px 4%;
    }
    .header{
        padding:11px 4%;
    }
    .home{
        height:auto;
        display:flex;
        flex-wrap: wrap;
    }
    .home-text{
        order:2;
    }
    .home-img{
        margin: auto;
        height: auto;
        width: auto;
         
    }
    .home-img img{
        margin: auto;
        height: auto;
        width: 100%;
        max-width: 450px;
         
    }
    .menu-icon{
        display: auto;
    }
}
@media(max-width:850px){
    .navbar{
        position:absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 50px;
        top:0;
        right: 0;
        bottom: 0;
        left:100%;
        display:flex;
        flex-direction: column;
        background: #2d2d2d;
        transition: all 0,4s ease-in-out;
    }   
    .navbar a{
        display: block;
        color:c3c3c3;
        padding: 0px;
        margin: 0px 0px 0px 0px;
        font-size: 1rem;
        font-weight: 250;
    }
    .navbar   .open{
        left: 0;
    }

}
@media(max-width:500px){
:root{
    --big-font: 2.3rem;
    --p-font: 15px;
    transition: 2s;
}
} 
.btn{
padding:9px 28px;
}
.home-img img{
    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s;
}
@keyframes imgg{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px);
    }
    100%{
        transform: translateY(0);

}
}