*{
    background-color: ;
}
.container1{
    margin: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.contact-form {
    max-width: 600px;
    margin:20px;
    padding: 30px;
    padding-right: 300px;
    border: 1px solid black
    
}
.contact-heading {
    font-size: 2.5em;
    /* margin-bottom: 20px; */
}
.social-networks{
    max-width: 600px;
    margin:20px;
    padding: 30px;
    /* padding-right: 300px; */
    border: 1px solid black;
    border: 1px solid black;
    text-align: center; 
    font-size: 25px;
    padding-top: 10px;
    /* float:left; */
    color:#333;
    font-family: sans-serif;
}
.social-icons{
    display:inline-flex;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}
.h3{
    border: 1px solid black;
}